.Messages {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  scrollbar-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: 0;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.Messages > div {
  margin-left: 10px;
  margin-right: 10px;
  border: 8px solid rgba(40, 40, 40, 0.9);
  background: rgba(0, 0, 0, 0.9);
}

.StoredMessages {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  height: 400px;
  width: 400px;
  padding: 8.5px;
  overflow-y: scroll;
  scrollbar-width: 0;
}
.StoredMessages::-webkit-scrollbar {
  display: none;
}

.StoredMessages > h3 {
  color: white;
  text-decoration: underline;
}

.message {
  width: 90%;
  background: rgba(50, 50, 50, 0.9);
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.message > * {
  padding: 0;
  margin: 0;
  word-break: break-all;
}

.Author {
  color: rgb(119, 105, 122);
  font-family: "Monda-Bold";
}

.sendForm {
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1e3d59;
}

.sendForm > * {
  border-radius: 5px;
  font-size: 15px;
}

.sendForm > input {
  transition: 300ms;
  width: 264px;
  height: 35px;
  background: rgba(220, 220, 220, 0.9);
  border: 0;
}

.sendForm > button {
  margin-left: 5px;
  width: 125px;
  height: 35px;
  border: 0;
  color: white;
  background: rgba(50, 30, 30, 0.9);
  transition: 300ms;
  cursor: pointer;
}

.sendForm > button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

@media screen and (max-width: 466px) {
  .StoredMessages,
  .sendForm {
    width: 270px;
  }
}
